package main

templ Index(name string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title></title>
			<link href="css/style.css" rel="stylesheet"/>
		</head>
		<body>
			hello { name }, Welcome to the world of templ, hello there, or whatever
		</body>
	</html>
}
